<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <title>Square Bracket Notation</title>
</head>
<body>
    <div class="mx-4  text-white text-xs bg-sky-700 text-center rounded-[10px] font-normal sm:bg-green-300 md:bg-rose-300 lg:bg-purple-400 xl:bg-fuchsia-300 2xl:bg-blue-400 sm:font-thin md:font-light lg:font-medium xl:font-bold 2xl:font-black sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl">
        <p class="my-[10px] lg:hidden text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptatibus asperiores voluptatem hic quaerat accusamus harum nemo consequatur? Ab laudantium quam itaque maiores quos maxime perspiciatis, delectus porro ut aliquid Lorem ipsum dolor sit amet consectetur..
        </p>
        <p class="my-[10px] hidden lg:block text-center">
           Hey There! I am Eadoz.
        </p>
    </div>
</body>
</html>